@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);




$red: #dd4439;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

html, body
{
  padding: 0;
  margin: 0;
}

header
{
  width: 100%;
  text-align: center;
  height: 100px;
  margin-top: 15px;


  img
  {
    float: left;
    margin-left: 15px;
  }

  .menu
  {
    cursor: pointer;
    float: right;
    margin-right: 15px;
    color: #181717;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
  }


}

.clear
{
  clear: both;
}

.first-section
{
  text-align: center;

  h1
  {
    color: #181717;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.92px;
    line-height: 33px;
  }

  h3
  {
    color: #181717;
    font-family: "Open Sans";
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-weight: 400;
  }


  .btn
  {
    margin-top: 22px;
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.69px;
    line-height: 24px;
    background-color: #df4f46;
    border: 5px solid #df4f46;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }






}



.second-section
{
  position: relative;
  top: -25px;
  width: 100%;
  background-image: url(../images/background.png);
  background-position: 50%;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 40px;

  p
  {
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    color: white;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }


}

.third-section
{
  background: white;



  p{
    margin-top: 30px;
    margin-bottom: 40px;
    color: #db3a2c;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.84px;
    line-height: 65px;
    text-align: center;
  }



  .container
  {


    .box
    {
      max-width: 500px;
      margin: 0 auto;
      width: 90%;
      border-top: 10px solid #db3a2c;
      margin-top: 80px;
      margin-bottom: 150px;
      text-align: center;
      background-color: #737474;

      :first-child
      {
        margin-top: 100px;
        margin-left: 0;
      }

      :last-child
      {
        margin-right: 0;
      }

      h1
      {
        color: white;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
      }

      p
      {
        color: white;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px;
      }

      img
      {
        display: inline-block;
        margin: 0 auto;
        position: relative;
        top: -200px;
        margin-bottom: -200px;
      }

    }
  }

}

.fourth-section
{
  margin-top: 10px;
  background-color: #494949;

  h3
  {
    text-align: center;
    margin-top: 60px;
    color: white;
    font-family: "Open Sans";
    font-size: 30px;
    line-height: 65px;
    font-weight: 400;

  }

  p
  {
    text-align: center;
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 20px;
    /* Text style for "Agencies" */
    /* Text style for "can come t" */
    font-weight: 400;

  }


  p:last-child
  {
    margin-bottom: 50px;
  }

  p span
  {
    font-weight: 700;
  }

}

.fifth-section {
  background-color: white;
  text-align: center;

  h3 {

    margin-top: 50px;
    color: black;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
  }

  img:last-child
  {
    margin-bottom: 50px;
  }

}

footer
{
  height: 45px;
  background-color: #db3a2c;

  p
  {
    margin-left: 10px;
    padding-top: 15px;
    color: white;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
  }
}


@media (min-width: 420px) {
  .second-section
  {
    position: relative;
    top: -50px;
    width: 100%;
    background-image: url(../images/background.png);
    background-position: 50%;
    background-size: cover;
    padding-top: 550px;
    padding-bottom: 40px;



    p
    {
      margin-top: -100px;
      font-size: 26px;
      font-weight: 400;
      line-height: 49px;
    }
  }
}
