body.page-homepage
{
  header {

    .menu {
      color: $black-font;
    }
    .full-screen-nav {
      a {
        color: $black-font;
      }
    }
  }



  .first-section {
    padding-top: 100px;
    text-align: center;
    background-image: url(../images/right-background.png);
    background-position: center 150px;
    background-repeat: no-repeat;
    background-size: cover;

    .left-background-img {
      height: 100%;
      width: 100%;
      background-image: url(../images/left-background.png);
      background-position: left 0;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      z-index: -1;
      top: 200px;
    }

    .headings {

      h1 {
        color: $black-font;
        font-family: "Open Sans";
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.92px;
        line-height: 33px;
      }

      h3 {
        color: $black-font;
        font-family: "Open Sans";
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 18px;
        font-weight: 400;
      }

    }
    .main-text {
      color: white;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      padding: 125px 0 50px;
    }
  }

  .third-section {
    background: white;

    h1 {
      color: $red1;
      font-family: "Open Sans";
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 1.84px;
      line-height: 33px;
      text-align: center;
    }

    .line
    {
      margin: 0 auto;
      width: 100px;
      height: 2px;
      border: 2px solid $box-grey;
      margin-bottom: 50px;
    }

    .container {

      .box {
        max-width: 500px;
        margin: 0 auto;
        width: 90%;
        border-top: $red1;
        margin-top: 80px;
        margin-bottom: 150px;
        text-align: center;
        background-color: $box-grey;

        :first-child {
          margin-top: 100px;
          margin-left: 0;
        }

        :last-child {
          margin-right: 0;
        }

        h1 {
          color: white;
          font-family: "Open Sans";
          font-size: 24px;
          font-weight: 700;
          line-height: 33px;
        }

        p {
          color: white;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          padding-bottom: 25px;
          padding-left: 15px;
          padding-right: 15px;
        }

        img {
          display: inline-block;
          margin: 0 auto;
          position: relative;
          top: -200px;
          margin-bottom: -200px;
        }

      }
    }

  }

  .fourth-section {
    margin-top: 10px;
    background-color: $background-grey;

    h3 {
      text-align: center;
      margin-top: 60px;
      color: white;
      font-family: "Open Sans";
      font-size: 30px;
      line-height: 33px;
      font-weight: 400;
    }

    .line
    {
      margin: 0 auto;
      width: 100px;
      height: 2px;
      border: 2px solid $red1;
      margin-bottom: 50px;
    }

    p {
      text-align: center;
      color: white;
      font-family: "Open Sans";
      font-size: 20px;
      line-height: 20px;
      /* Text style for "Agencies" */
      /* Text style for "can come t" */
      font-weight: 400;
      margin-bottom: 15px;

    }

    .btn
    {
      border: solid 3px $button-red;
    }


    p:last-child {
      margin-bottom: 50px;
    }

    p span {
      font-weight: 700;
    }

  }

  .fifth-section {
    background-color: white;
    text-align: center;
    margin-bottom: 50px;

    h3 {

      margin-top: 50px;
      color: black;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
    }

    .trainees-img {
      padding-top: 25px;
      width: 245px;
      margin: 0 auto;
    }

    .trainees-img .first-img {

      margin-bottom: 50px;

    }

    .trainees-img .last-img {
      align-content: center;
      margin: 0 auto;

    }

    .trainees-img .center-img {
      margin-bottom: 50px;
    }

  }

  /* Small Devices, Tablets */
  @media (min-width: 768px) {
    .fifth-section {
      .container {
        .trainees-img {
          padding-top: 75px;
          width: 100%;
          margin: 0 auto;
          padding-bottom: 50px;

          .first-img {
            padding-right: 30px;
            margin-bottom: 0px;
          }

          .last-img {
            padding-left: 30px;
            margin-bottom: 0px;
          }

          .center-img {
            padding: 0 30px;
            margin-bottom: 0px;
          }
        }
      }
    }

    .first-section {
      margin-top: 70px;

      .left-background-img {
        top: auto;
      }

      .main-text {
        font-size: 20px;
        line-height: 25px;
        padding: 150px 0 50px;
      }
    }

  }

  /* Medium Devices, Desktops */
  @media (min-width: 992px) {
    .first-section {
      .main-text {
        font-size: 23px;
        line-height: 26px;
        padding: 200px 0 100px;
      }
    }

    .third-section {
      .container {
        padding-top: 50px;
        width: 90%;
        margin: 0 auto;

        .box {
          min-height: 300px;
          margin-left: 10px;
          margin-right: 10px;
          width: calc(33% - 20px);
          display: inline-block;
          vertical-align: bottom;
          text-align: center;

          p {
            margin-bottom: 25px;
          }
        }
      }
    }

    .fourth-section {
      .container {
        .section-content {
          padding-top: 50px;
          width: 100%;
          margin: 0 auto;

          .text-box {

            margin-left: 10px;
            margin-right: 10px;
            width: calc(33% - 20px);
            display: inline-block;
            vertical-align: top;

            p {
              line-height: 25px;
            }
          }

        }
      }
    }

    .fifth-section {
      .container {
        .trainees-img {
          padding-top: 75px;
          width: 100%;
          margin: 0 auto;
          padding-bottom: 50px;

          .first-img {
            padding-right: 40px;
            margin-bottom: 0px;
          }

          .last-img {
            padding-left: 40px;
            margin-bottom: 0px;
          }

          .center-img {
            padding: 0 40px;
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  /* Large Devices, Wide Screens */
  @media (min-width: 1200px) {
    .first-section {
      .main-text {
        padding: 250px 0 125px;
      }
    }

    .fifth-section {
      .container {
        .trainees-img {
          padding-top: 75px;
          width: 100%;
          margin: 0 auto;
          padding-bottom: 50px;

          .first-img {
            padding-right: 50px;
            margin-bottom: 0px;
          }

          .last-img {
            padding-left: 50px;
            margin-bottom: 0px;
          }

          .center-img {
            padding: 0 50px;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}