$red1: #db3a2c;
$red2: #dd4439;
$button-red: #df4f46;
$button-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
$box-grey: #737474;
$background-grey: #494949;
$dark-grey-background: #5d5e5e;
$dark-grey-background-2: #535353;
$black-font: #181717;
